name: Z64 - Release assets test

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - closed

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: CristobalPenaloza/z64packer-create-assets@f10f2d7356b830c039e52682deb767476c8bbb7e
        with:
          name: 'Z64 Packer Test Repo'
          description: 'A test repo for uploading Zelda 64 files'
          binaries-path: 'Music/'
          previews-path: 'previews/'
          avatar-url: 'https://avatars.githubusercontent.com/u/41912913?s=96&v=4'
