name: Z64 - Release assets test

on:
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.x"]

    steps:
      - uses: CristobalPenaloza/z64packer-release-assets@c798f05081383d1bdebdbbd0096d153e8ac76e8c
        with:
          who-to-greet: 'Mona the Octocat'
