name: Z64 - Release assets test

on:
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.x"]

    steps:
      - uses: CristobalPenaloza/z64packer-release-assets@3555c8645bd7a36d5c9fb8225ebe657d4bb22adc
        with:
          name: 'Z64 Packer Test Repo'
          description: 'A test repo for uploading Zelda 64 files'
          binaries-path: 'Music/'
          previews-path: 'previews/'
          avatar-url: 'https://avatars.githubusercontent.com/u/41912913?s=96&v=4'
