name: Z64 - Release assets test

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - closed

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: CristobalPenaloza/z64packer-create-assets@2fe4d3516f8af9fcfd3316d82443d7c9dc7b67f8
        with:
          name: 'Z64 Packer Test Repo'
          description: 'A test repo for uploading Zelda 64 files'
          binaries-path: 'Music/'
          previews-path: 'previews/'
          avatar-url: 'https://avatars.githubusercontent.com/u/41912913?s=96&v=4'
