name: Z64 - YouTube upload

on:
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Setup YouTube Uploader
        uses: AnimMouse/setup-youtubeuploader@v2

      - uses: actions/checkout@v3

      - run: echo "$request_token" | base64 -d
        env:
          request_token: ${{ secrets.YOUTUBE_REQUEST_TOKEN }}
          
      - run: youtubeuploader -debug -secrets <(echo "$client_secrets" | base64 -d) -cache <(echo "$request_token" | base64 -d) -filename "./previews/Elden Ring/Godskin Apostles (Phase 1).mp3"
        env:
          client_secrets: ${{ secrets.YOUTUBE_CLIENT_SECRETS }}
          request_token: ${{ secrets.YOUTUBE_REQUEST_TOKEN }}
