name: Z64 - YouTube upload

on:
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - name: Setup YouTube Uploader
        uses: AnimMouse/setup-youtubeuploader@v2
        with:
          client_secrets: ${{ secrets.YOUTUBE_CLIENT_SECRETS }}
          request_token: ${{ secrets.YOUTUBE_REQUEST_TOKEN }}
          
      - run: |
         ls
         youtubeuploader -filename "./previews/Elden Ring/Godskin Apostles (Phase 1).mp3"
